.banner-section{
    background-image:url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.selected-tickets {
    padding: 12px;
    display: flex;
    justify-content: space-around;
}